{% extends "app/layout.html" %}

{% block content %}

	
<!--ACES Logo-->
 <div style="margin-bottom: 30px;">
	<div class="container text-center">
        <img style="height: 194px" src="../../static/app/content/aces.png" />
	</div>
 </div>
 
 
<!-- ACES Expo Video-->

	<div class="container text-center" style="margin-bottom:30px">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/3mpyT2iNafw" frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>
	</div>



<!--1st Section-->
<div class="container text-center" style="height:auto;background-color:  #fff;margin-bottom:50px;width:  auto;">
      <div class="row" style="margin:40px">
	  
		<div class="col-md-6" style="margin:auto">
            
<img style="height:250px;" src="../../static/app/content/aces.jpg" />
		</div>
		
		<div class="col-md-6">
			<p  style="padding: 70px">ACES stands for the Annual Conference for Engineering Students. ACES is a leading student organization in the engineering community, it was first founded in 2004 in Faculty of Engineering Ain Shams University, to be the first student activity in the governmental faculties in Egypt.</p>
		</div>
		
	  </div>
</div>


<!--2nd Section-->
<div class="container text-center" style="height:auto;background-color:  #fff;margin-bottom:50px;width:  auto;">
      <div class="row" style="margin:40px">
	  
		
		<div class="col-md-6" style="margin:auto">
            
<img style="height:250px;" src="../../static/app/content/mission.jpg" />
		</div>
		
		<div class="col-md-6">
			<p  style="padding:70px">Raising the capabilities of the engineering community through technical, nontechnical and personal approaches delivered through a real life exposure.</p>
		</div>
		
	  </div>
</div>


<!--3rd Section-->
<div class="container text-center" style="height:auto;background-color:  #fff;margin-bottom:50px;width:  auto;">
      <div class="row" style="margin:40px">
	  
		
		<div class="col-md-6" style="margin:auto">
            
<img style="height:250px;" src="../../static/app/content/vision.jpg" />
		</div>
		
		<div class="col-md-6">
			<p  style="padding:70px">Doing our best to pay forward such a Life Changing Experience and have our impact on the surrounding society hoping ACES Journey will never come to an end..</p>
		</div>
		
		
	  </div>
</div>



	
	
	
	
	


{% endblock %}
